@font-face {
    font-family: 'header-font';
    src: url('../fonts/hamston.ttf') format('truetype');
}

@font-face {
    font-family: 'p-font';
    src: url('../fonts/lemon-milk.otf') format('opentype'); }

h1, h2, h3 {
    font-family: 'header-font';
}

a, p, li, figcaption, button {
    font-family:'p-font';
}

.page-links {
    display: inline-block;
    transition: all 150ms ease-in, 150ms ease-out;
}
.page-links:hover {
    transform: scale(1.2);
}