<footer>
    <p>Website designed by Shishant Bohora &copy;</p>
    <nav>
      <a href="https://github.com/ShishantG87">Github |</a>
      <a href="https://shishantg87.github.io/"> Github.io |</a>
      <a href="index.html"> Web250.io |</a>
      <a href="https://www.freecodecamp.org/sbohora12"> FreeCodeCamp |</a>
      <a href="https://www.codecademy.com/profiles/ShishantBohora">
        Codeacademy |
      </a>
      <a href=""> JSFiddle |</a>
      <a href="https://www.linkedin.com/in/shishant-bohora-708760294/"
        >LinkedIn</a
      >
    </nav>
  </footer>