@font-face {
    font-family: 'header-font';
    src: url('../fonts/hamston.ttf') format('truetype');
}

@font-face {
    font-family: 'p-font';
    src: url('../fonts/lemon-milk.otf') format('opentype'); }

h1 {
    font-family: 'header-font';
}

a, p, li, figcaption {
    font-family:'p-font';
}