html, body {
    font-size: 22px;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%
  }
  body {
    text-align: center;
    display: flex;
    
    flex-direction: column;
    background-color: #333;
    color: whitesmoke;
  }



  a {
    color:  rgb(255, 255, 255);
  }

  a:visited{

    color: rgb(228, 228, 228);


  }

  a:hover, a:active {
    color: #ffffff;
  }

  footer {
    margin-top: auto;
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
    padding: 10px;

  }

  hr {
    border: 1px solid #ffffff;
    max-width: 80%;
    margin: 20px auto;
  }
  
  ul, ol {
    list-style-position: inside;  
    text-align: left;
    padding: 20px;
    flex-direction: column;
    
    
  }
  li {
    margin-bottom: 10px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }