
html, body {
    font-size: 22px;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: whitesmoke;
  }


  a {
    color:  rgb(255, 255, 255);
    text-decoration: none;
  }

  a:visited{
    color: rgba(26, 187, 236, 0.884);
  }

  a:hover, a:active {
    color: #ffffff;
  }

  footer {
    font-size: 15px;
    margin-top: auto;
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
    padding: 10px;

  }

  hr {
    border: 1px solid #ffffff;
    max-width: 80%;
    margin: 20px auto;
  }
  
